:root {
	--primary-color: #222;
	--highlight: rgb(102, 0, 0);
	--bg-color: rgb(255, 240, 212);
	--low: rgb(110, 226, 129);
	--avg: rgb(238, 231, 136);
	--high: rgb(216, 122, 122);
	--title1: #666;
	--title2: #111;
}

[data-theme="dark"] {
	--primary-color: rgb(149, 169, 206);
	--highlight: rgb(146, 76, 211);
	--bg-color: rgb(17, 17, 19);
	--low: rgb(14, 82, 114);
	--avg: rgb(85, 8, 156);
	--high: rgb(177, 0, 109);
	--title1: #ddd;
	--title2: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Destiny", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
	background-color: var(--bg-color);
	background-image: url(/img/background.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	color: var(--primary-color);
	display: grid;
	grid-template: 1px auto 150px / 1fr 90% 1fr;
}

h1 {
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
	line-height: 0.9em;
	color: var(--highlight);
}

h2 {
	font-weight: 500;
	font-style: normal;
	font-kerning: normal;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	display: block;
	margin-bottom: 10px;
	color: var(--highlight);
}

h3 {
	font-weight: normal;
	font-style: normal;
	font-kerning: normal;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: block;
	padding: 10px 0px 20px 0px;
	color: var(--highlight);
}

p {
	line-height: 1.3em;
	margin-top: 1em ;
  margin-bottom: 1em ;
}

em {
	font-style: italic;
	font-weight: bolder;
	color: var(--highlight);f
}

.container {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	width: 100%;
	height: 100%;
	display: grid;
	color: var(--primary-color);
	gap: 5%;
	text-align:left;
}

@media (min-width: 100px) {
	.container {
		grid-template:
			"header" 400px
			"info" auto
			"results" 1fr
			/ 100%;
			text-align:center;
	}
	p {
		text-align:center;
	}
	
}

@media (min-width: 900px) {
	.container {
		grid-template:
			"header header" 400px
			"info results" auto
			/ 360px auto;
			text-align:left;
	}
	p {
		text-align:left;
	}

	
}

@media (min-width: 1100px) {
	.container {
		grid-template:
			"header header" 400px
			"info results" auto
			/ 360px auto;
			text-align:left;
	}
	p {
		text-align:left;
	}
}

.item {
	border: 0px;
}

.header {
	grid-area: header;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;f
	border-bottom: 2px solid var(--primary-color);
	padding-bottom:40px;
}

.main-title-1 {
	font-weight: 500;
	font-size: 2em;
	font-style: normal;
	font-kerning: normal;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	color: var(--title1);
	text-align: center;
  margin-bottom: .75em ;	
}

.main-title-2 {
	font-weight: bold;
	font-style: normal;
	font-size: 4em;
	line-height:.9em;
	text-transform: uppercase;
	color: var(--title2);
	text-align: center;
}

.info {
	grid-area: info;
}

.results {
	grid-area: results;
}

.results-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0px 10px 0px;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		90deg,
		var(--low) 0%,
		var(--avg) 50%,
		var(--high) 100%
	);
	color: var(--primary-color);
	border-radius: 10px;
	border: 2px solid var(--primary-color);
	overflow: hidden;
}

.low-high {
	justify-self: center;
	align-self: center;
	font-size: 1.5em;
	padding: 20px;
}

.avg {
	justify-self: center;
	align-self: center;
	font-size: 2.5em;
	font-weight: bolder;
	padding: 10px;
	text-align: center;
	line-height: 1em;
}

.valor-bar-section {
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.progress-bar-valor {
	height: 12px;
	overflow: hidden;
	border-radius: 6px;
	border: 2px solid var(--primary-color);
}

.progress-bar-valor-percent {
	background-color: var(--primary-color);
	height: 8px;
}

.footer {
	grid-column:1/-1;
	grid-row:5/-1;
	justify-self:space-between;
	border-top: 1px dotted var(--primary-color);
	color: var(--primary-color);
	display: flex;
	flex-direction: row nowrap;
	justify-content: space-between;
	align-content:flex-end;
	padding:20px;
}

#error {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background: rgb(0, 2, 139);
	padding: 5%;
	line-height: 1.5rem;
	font-family: "Lucida Console", monospace;
	color: white;
	list-style-position: inside;
	text-align: left;
}

#error h1 {
	background: lightgray;
	color: rgb(0, 2, 139);
	padding: 10px;
	text-align: center;
	width: 140px;
}
