:root {
	--select-border: #777;
	--select-focus: white;
	--select-arrow: var(--select-border);
	--dark-color: #111;
	--main-color: rgb(102, 0, 0);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: auto 0;
	scroll-behavior: smooth;
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#body-wrapper {
	background-image: url(/img/background.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	display: grid;
	height: 100%;
}

.main-theme {
	background-color: var(--main-color);
}

.main-theme .submit {
	color: var(--main-color);
}

.dark-theme {
	background-color: var(--dark-color);
}

.dark-theme .submit {
	color: var(--dark-color);
}

.header-image {
	grid-row: 1 span 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-image > img {
	width: 80%;
}

.start-button button {
	border-radius: 5px;
	cursor: pointer;
}

.container {
	display: grid;
	grid-template-columns: 10% repeat(2, minmax(300px, 1fr)) 10%;
	grid-row: 2 / span 1;
	grid-auto-flow: row;
	color: white;
}

.info {
	display: subgrid;
	grid-column-start: 2;
	line-height: 1.5rem;
	padding-right: 20px;
}

.results {
	grid-column-start: 3;
	line-height: 1.5rem;
	border-left: 1px solid white;
	padding-left: 5%;
}

.results-text {
	background: white;
	border: 1px solid white;
	color: var(--main-color);
	padding: 10px 20px;
	border-radius: 5px;
}

.results-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		90deg,
		rgb(14, 168, 91) 0%,
		rgb(187, 175, 7) 50%,
		rgb(156, 3, 3) 100%
	);
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	overflow: hidden;
}

.low {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 10%;
	font-size: 1.3em;
	line-height: 1.2em;
	z-index: 1;
}

.avg {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.5em;
	line-height: 1em;
	z-index: 2;
	font-weight: bolder;
}

.high {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 10%;
	font-size: 1.3em;
	line-height: 1em;
	z-index: 1;
}

.valor-bar-section {
	width: 100%;
}

.progress-bar-valor {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
	height: 8px;
	overflow: hidden;
	border-radius: 4px;
}

.progress-bar-valor-percent {
	background-color: white;
	border-radius: 4px;
	height: 8px;
}

.error {
	background: rgb(0, 2, 139);
	padding: 5%;
	margin: 2%;
	grid-column-start: 3;
	line-height: 1.5rem;
	padding-right: 20px;
	font-family: monospace;
	color: white;
}

.form-wrapper {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

button,
input,
select {
	box-sizing: border-box;
	font-size: 1.3em;
	height: 40px;
	margin: 0 0 0 0;
	padding: 5px 10px 5px 10px;
	outline: none;
	color: white;
	border: 1px solid white;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0);
	position: relative;
	top: 0px;
	appearance: none;
	-webkit-appearance: none;
}

.valor-input {
	border-radius: 5px 0px 0px 5px;
	outline: none;
	color: white;
	min-width: 6ch;
	width: 100%;
}

.valor-input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(255, 255, 255);
	opacity: 1; /* Firefox */
}

.valor-input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(255, 255, 255);
}

.valor-input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(255, 255, 255);
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
} /* Firefox 18- */
input:focus::-moz-placeholder {
	color: transparent;
} /* Firefox 19+ */
input:focus:-ms-input-placeholder {
	color: transparent;
} /* oldIE ;) */

.valor-input:active,
.valor-input:hover,
.valor-input:focus {
	-webkit-box-shadow: 0px 0px 5px 1px #ffffff;
	box-shadow: 0px 0px 5px 1px #ffffff;
}

.select {
	display: grid;
	align-items: center;
}

select {
	width: 180px;
	cursor: pointer;
}

select:active,
select:hover,
select:focus {
	-webkit-box-shadow: 0px 0px 5px 1px #ffffff;
	box-shadow: 0px 0px 5px 1px #ffffff;
}

.select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: white;
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	position: relative;
	top: -24px;
	left: 158px;
}

.submit {
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	background-color: lightgray;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit:active,
.submit:hover,
.submit:focus {
	-webkit-box-shadow: 0px 0px 5px 1px #ffffff;
	box-shadow: 0px 0px 5px 1px #ffffff;
	background-color: white;
}

footer {
	display: flex;
	flex-direction: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: #333;
	margin: 100px 0 0 0;
	width: 100%;
	padding: 0px 10% 0px 10%;
	height: 100px;
}

.theme-label {
	display: flex;
	align-self: center;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	justify-items: center;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(102, 0, 0);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--dark-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--dark-color);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.cashapp {
	background-color: #00d54b;
	color: var(--dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 0px 15px;
	height: 34px;
	border-radius: 34px;
	text-decoration: none;
}

@media only screen and (max-width: 900px) {
	#body-wrapper {
	}

	.header-image > img {
		width: 90%;
	}

	.container {
		display: grid;
		grid-template-columns: 5% 1fr 5%;
		grid-template-rows: 50% 50%;
		grid-auto-flow: row;
		color: white;
	}

	.info {
		display: subgrid;
		grid-column-start: 2;
		grid-column-end: 3;
		line-height: 1.5rem;
		padding-right: 0px;
	}

	.results {
		grid-column-start: 2;
		line-height: 1.5rem;
		border-left: 0px;
		padding-left: 0%;
	}

	footer {
		padding: 0px 5% 0px 5%;
	}
}
