:root {
	--primary-color: rgb(65, 24, 24);
	--highlight: rgb(172, 11, 11);
	--bg-color: rgb(233, 229, 218);
	--bg-color2: rgb(114, 34, 34);
	--low: rgb(33, 184, 58);
	--avg: rgb(207, 174, 24);
	--high: rgb(223, 26, 26);
	--title1: rgb(187, 151, 151);
	--title2: rgb(255, 255, 255);
	--white: white;
	--black: black;
}

[data-theme="dark"] {
	--primary-color: rgb(141, 93, 255);
	--highlight: rgb(110, 174, 247);
	--bg-color: rgb(14, 14, 17);
	--bg-color2: rgb(31, 13, 71);
	--low: rgb(97, 174, 209);
	--avg: rgb(192, 125, 255);
	--high: rgb(247, 117, 171);
	--title1: rgb(95, 84, 117);
	--title2: rgb(255, 255, 255);
	--white: white;
	--black: black;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	/*Disallow selecting text on page */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/*Also prevent cursor from changing except where expressly stated*/
	cursor: default;
}

body {
	font-family: "Destiny", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
	background-color: var(--bg-color);
	background-image: linear-gradient(var(--bg-color2), var(--bg-color));
	backdrop-filter: opacity(50%);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-items: center;
	overflow-x: hidden;
}

h1 {
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	display: block;
	line-height: 0.9em;
	color: var(--highlight);
	width: 100%;
	border-bottom: 1px dotted var(--highlight);
	padding: 1em 0 0.4em 0;
	margin-bottom: 0.7em;
	margin-top: 1em;
}

h2 {
	font-weight: 500;
	font-style: normal;
	font-kerning: normal;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	display: block;
	color: var(--highlight);
	margin-top: 1em;
	margin-bottom: 1em;
}

h3 {
	font-weight: normal;
	font-style: normal;
	font-kerning: normal;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: block;
	color: var(--highlight);
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	line-height: 1.3em;
	margin-top: 1em;
	margin-bottom: 1em;
}

em {
	font-style: italic;
	font-weight: bolder;
	color: var(--highlight);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	align-items: center;
	color: var(--primary-color);
	text-align: center;
	padding: 0px 5% 60px 5%;
	background-image: url(/img/background.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
}

@media (min-width: 800px) {
	.container {
		padding: 0px 10% 60px 10%;
	}
}

@media (min-width: 1100px) {
	.container {
		padding: 0px 20% 60px 20%;
	}
}

.item {
	border: 0px;
}

.header {
	display: flex;
	height: 50vh;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 40px;
}

.main-title-1 {
	font-weight: 500;
	font-size: 2em;
	font-style: normal;
	font-kerning: normal;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	color: var(--title1);
	text-align: center;
	margin-bottom: 0.3em;
	z-index: 2;
}

.main-title-2 {
	font-weight: bold;
	font-style: normal;
	font-size: 3em;
	line-height: 0.9em;
	text-transform: uppercase;
	color: var(--title2);
	text-align: center;
	text-shadow: 0em 0em 1.5em var(--bg-color2);
	z-index: 1;
}

.info {
	grid-area: info;
}

.results {
	grid-area: results;
}

.results-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0px 10px 0px;
	background: linear-gradient(
		90deg,
		var(--low) 0%,
		var(--avg) 50%,
		var(--high) 100%
	);
	color: var(--bg-color);
	border-radius: 10px;
	overflow: hidden;
}

.low,
.high {
	align-self: center;
	font-size: 1.4em;
	padding: 20px;
}

.low {
	justify-self: flex-start;
	text-align: left;
}

.high {
	justify-self: flex-end;
	text-align: right;
}

.avg {
	justify-self: center nowrap;
	align-self: center;
	font-size: 2.5em;
	font-weight: bolder;
	padding: 10px;
	text-align: center;
	line-height: 1em;
}

.valor-bar-section {
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.progress-bar-valor {
	height: 12px;
	overflow: hidden;
	border-radius: 6px;
	border: 2px solid var(--primary-color);
}

.progress-bar-valor-percent {
	background-color: var(--primary-color);
	height: 8px;
}

#error {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background: rgb(0, 2, 139);
	padding: 7%;
	line-height: 1.5rem;
	font-family: "Lucida Console", monospace;
	color: white;
	list-style-position: inside;
	text-align: left;
}

#error h3 {
	color: white;
}

#error h1 {
	background: lightgray;
	color: rgb(0, 2, 139);
	padding: 10px;
	text-align: center;
	width: 140px;
}

.reward-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.reward {
	max-width: 50px;
	max-height: 50px;
	margin: 0.1em;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.reward img {
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 0.15em solid lightgray;
	filter: drop-shadow(0em 0em 0.2em var(--primary-color));
	overflow: hidden;
}

.transparent img {
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border: 0.15em solid transparent;
}

.reward-label {
	position: absolute;
	bottom: 0em;
	right: 0;
	display: inline;
	background: lightgray;
	padding: 0em 0.5em;
	z-index: 2;
	font-size: 0.8em;
	color: black;
	overflow: hidden;
}

.footer {
	border-top: 1px dotted var(--bg-color2);
	color: var(--primary-color);
	display: flex;
	flex-direction: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	height: 80px;
	padding: 20px 20px 0px 20px;
	font-size: 1em;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
	display: flex;
	align-items: center;

	span {
		font-size: 1em;
		color: var(--primary-color);
	}
}
.theme-switch {
	display: inline-block;
	height: 20px;
	position: relative;
	width: 40px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: var(--primary-color);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: var(--bg-color);
	bottom: 2px;
	content: "";
	height: 16px;
	left: 2px;
	position: absolute;
	transition: 0.4s;
	width: 16px;
}

input:checked + .slider {
	background-color: var(--primary-color);
}

input:checked + .slider:before {
	transform: translateX(20px);
}

.slider.round {
	border-radius: 10px;
}

.slider.round:before {
	border-radius: 50%;
}

.footer-btn {
	display: flex;
	align-items: center;
	color: var(--primary-color);
	font-size: 1.4em;
	line-height: 0em;
	height: 20px;
}

.footer-btn a {
	text-decoration: none;
}

.footer-btn:hover {
	color: var(--highlight);
	transition: 0.4s ease;
}
